.label-class {
  display: inline-block;
  width: 100px;
}

.column {
  margin-bottom: 10px;
}

.wrapper {
  border: 1px solid black;
  width: 350px;
  padding: 5px 10px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.wrapper-button .dat-mua {
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  background-color: #89d955;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px;
}

.wrapper-button {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}
